@import "tailwindcss";

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

html, body {
  scroll-behavior: smooth;
}

.smooth-transform {
  transform: translateZ(0);
  will-change: transform;
}

@keyframes fadeSlide {
  0% { opacity: 0; transform: translateY(15px); }
  40% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0; transform: translateY(-15px); }
}

.animate-fadeSlide {
  animation: fadeSlide 2s ease-in-out;
}

/* continuous left scroll */
@keyframes scrollX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
:root {
  --bg-main: #ffffff;
  --bg-section: #f7f7f7;
  --bg-card: #ffffff;

  --text-main: #111111;
  --text-muted: #555555;

  --border-light: #dddddd;

  --brand: #A5161B;
}
